.commentWrapper {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.comment {
    border-radius: 9px;
    padding: 1px 10px;
    flex-grow: 2;
}
.commentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.commentOwner {
    font-weight: bold;
}