header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #091f43;
}

.header-link {
    width: 20%;
}

.header-icon {
    width: 100%;
    height: auto;
}

.userOptions {
    display: flex;
    flex-direction: column;
}