nav {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.navLinkLeft {
  border-radius: 5px 0 0 5px;

}

.navLinkRight {
  border-radius: 0 5px 5px 0;

}

.navLinks {
  border: 2px solid #091f43;
  padding: 0.5rem 0;
  margin: 5px 0;
  text-decoration: none;
  color: #091f43;
  width: 25%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLinks--focus {
  background-color: #091f43;
  color: #fff;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.signInUp {
  padding: 0 10%;
}

form>* {
  margin: 0.5rem 0;
}

.input {
  border-radius: 9px;
  padding: 10px;
  background-color: #e8f0fe;
}

.signinButton,
.signupButton {
  color: #d24f59;
  width: 130px;
}

.signupButton {
  margin-top: 2rem;
}

.signinButton:hover,
.signupButton:hover {
  background-color: #d24f59;
  border: 2px solid #d24f59;
  color: #fff;
}

.passwordWarning {
  color: red;
  font-weight: bold;
}

form input {
  border: 1px solid #d9e0eb;
}

form input:focus:invalid {
  border: 1px solid red;
}

.inputWithValidation {
  display: flex;
  flex-direction: column;
}

.input--warningMessage {
  color: red;
  font-weight: bold;
}