nav {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.navLinkLeft {
  border-radius: 5px 0 0 5px;

}

.navLinkRight {
  border-radius: 0 5px 5px 0;

}

.navLinks {
  border: 2px solid #091f43;
  padding: 0.5rem 0;
  margin: 5px 0;
  text-decoration: none;
  color: #091f43;
  width: 25%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 170px;
}

.navLinks--focus {
  background-color: #091f43;
  color: #fff;
}

h1 {
  text-align: center;
}

.form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.form>* {
  margin: 0.5rem 0;
}

.signin_password-reset:visited {
  color: initial;
}

.input {
  border-radius: 9px;
  padding: 10px;
  background-color: #e8f0fe;
  width: 250px;
}

.signinButton,
.signupButton {
  background-color: #091f43;
  color: white;
  width: 250px;
  height: 34px;
}

.signupButton {
  margin-top: 2rem;
}

.signinButton:hover,
.signupButton:hover {
  background-color: #37527C;
  color: #fff;
}

.passwordWarning {
  color: red;
  font-weight: bold;
}

form input {
  border: 1px solid #d9e0eb;
}

form input:focus:invalid {
  border: 1px solid red;
}

.inputWithValidation {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.input--warningMessage {
  color: red;
  font-weight: bold;
}

.signupMessage {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #091f43;
}

@media screen and (max-width: 414px) {
  .navLinks {
    width: 50%;
  }
}