.modale_background_overlay {
    position: absolute;
    width: 100%;
    height: 200%;
    background: #00000098;
    top: 0;
    left: 0;
}

.newPost {
    display: flex;
    justify-content: space-around;
}

.newPost-input {
    box-shadow: 4px 2px 12px 0px rgba(0, 0, 0, 0.57);
    border-radius: 9px;
}

.createNewPost {
    position: absolute;
    z-index: 1;
    background-color: white;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 450px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    top: 10%
}

.createNewPost-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postText {
    resize: none;
}

.startPost {
    padding: 15px;
    width: 100%;
    border: none;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 50px;
    background-color: #e6eaf2;
}

.startPost:hover {
    background-color: #d9e0eb;
    transition: background-color 250ms;
}

.postTitle {
    margin: 10px 0;
}

.postContent {
    display: flex;
    flex-direction: column;
}

/* remove default styles */
textarea:focus,
input:focus {
    outline: none;
}

input,
textarea {
    border: none;
}

.altAttributeInput {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.imageInput+label {
    cursor: pointer;
}