.optionsControl {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.optionsControl_dots {
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  height: 30px;
  align-items: center;
  background: none;
  border: none;
}

.optionsControl_dots:hover {
  background-color: #ccd9ed;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: rgb(31, 31, 31);
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
}

.optionsControl_unfolded {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 4px 2px 12px 0px rgba(0, 0, 0, 0.57);
  background-color: white;
  position: absolute;
  margin-top: 35px;
}

.optionsControl_unfolded button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
}

.optionsControl_unfolded--top {
  border-radius: 10px 10px 0 0;
}

.optionsControl_unfolded--bottom {
  border-radius: 0 0 10px 10px;
}

.optionsControl_unfolded button:hover {
  color: white;
  background-color: #091f43;
}