.optionsControl {
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    height: 21px;
    align-items: center;
}
.optionsControl:hover {
    background-color:#ccd9ed;
}
.dot{
    height: 5px;
    width: 5px;
    background-color: rgb(31, 31, 31);
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
  }

  .optionsControl--options {    
      position: absolute;
      right: 19px;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 4px 2px 12px 0px rgba(0,0,0,0.57);
      background-color: white;
  }

  .optionsControl--options button {
    border: none;
    background-color: transparent;
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;
  }
  .optionsControl--options button:hover {

    background-color: rgb(218, 217, 217);
  }