.profileCard {
    border-radius: 9px;
}

.profileCard_options {
    position: absolute;
    background-color: rgba(255, 255, 255);
    right: 15px;
    border-radius: 6px;
    box-shadow: 1px 3px 30px 1px rgba(0, 0, 0, 0.2);
}

.profileCard a {
    text-decoration: none;
    color: #091f43;
}

.profileCard a:hover {
    text-decoration: underline;
}

.profileCard_options p {
    padding: 5px;
}

.profileCard_options--profileLink:hover {
    background-color: rgba(0, 0, 0, 0.1);
}