.profileCard {
    border-radius: 9px;
}

.profileCard_notHovered {
    display: flex;
    align-items: center;
    gap: 5px;
}

.profileCard_icon {
    color: rgb(227, 227, 227);
}

.profileCard_link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profileCard_options {
    position: absolute;
    background-color: rgba(255, 255, 255);
    border-radius: 6px;
    box-shadow: 1px 3px 30px 1px rgba(0, 0, 0, 0.2);
    margin-top: 61px;
    text-decoration: none;
    color: #091f43;
}

.profileCard_notDisplayed {
    display: none;
}

.profileCard_options p {
    padding: 5px;
}

.profileCard_options--profileLink:hover {
    background-color: rgba(0, 0, 0, 0.1);
}